<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ng.dsoftlab.stegocam"
	android:versionCode="1"
	android:versionName=""
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="29"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission
	android:name="android.permission.WRITE_EXTERNAL_STORAGE"
	android:maxSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.USE_BIOMETRIC"/>
	<uses-permission android:name="android.permission.USE_FINGERPRINT"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<application
		android:name="androidx.multidex.MultiDexApplication"
		android:icon="@drawable/icon"
		android:label="StegoCam"
		android:theme="@style/MyAppTheme">
		
		<provider
		  android:name="androidx.core.content.FileProvider"
		  android:authorities="ng.dsoftlab.stegocam.provider"
		  android:exported="false"
		  android:grantUriPermissions="true">
		  <meta-data
		  android:name="android.support.FILE_PROVIDER_PATHS"
		  android:resource="@xml/provider_paths"/>
		  </provider>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mainmenu"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".encode"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".settings"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateVisible"
			android:launchMode="singleTop"
			android:name=".pinsetup"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".forgotpin"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateVisible"
			android:launchMode="singleTop"
			android:name=".login"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateVisible"
			android:launchMode="singleTop"
			android:name=".pinchange"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateVisible"
			android:launchMode="singleTop"
			android:name=".pinreset"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".securityquestion"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".history"
			android:label="StegoCam"
			android:screenOrientation="unspecified"
			android:exported="true">
		</activity>
		<service
			android:name=".httputils2service"
			android:exported="true">
		</service>
		<receiver
			android:name=".httputils2service$httputils2service_BR"
			android:exported="true">
		</receiver>
	</application>
</manifest>